doctype html
html
  head
    title INSTRUCTION
  body
    h1 HERE SHOWN CAUSE ROUTING PAGE NOT CORRECT
    input(type="text", placeholder ="nhap thong tin")
      
  script.
    //alert ("khang");
    console.log("test out");
    alert ("CHECK DATA");
  
  h3 DONE

  
      
