!!!5
html(lang='en')
  head
    meta(charset='utf-8')
    title DATALOGIC-PRODUCTION MONITORING-DEMO
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    
  body
    
//top menu
.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='') PRODUCTION MONITORING
          .nav-collapse.collapse
            //p.navbar-text.pull-right
            //  | Logged in as
            //  a.navbar-link(href='#') Username
            ul.nav
              li.active
                a(href='/') HOME
              li
                a(href='show') SHOW
              li
                a(href='lineshow') LINE
//top menu
.container-fluid
      
        .span12
          .hero-unit
            h1 HELLO HUNGRARY TEAM!
            p
              | This demo show production monitoring 
            p
              a.btn.btn-primary.btn-large to details »
          .row-fluid
            .span4
              h2 SHOW ALL
              p
                | Data extract is pull hourly. This report show all ouput in current date
              p
                a.btn(href='show') View details »
            // /span
            .span4
              h2 LINE INPUT
              p
                | To assembly line, in case no data warehouse, we need to input manually for serial mode.
                
              p
                a.btn(href='lineinput') View details »
            .span4
              h2 LINE SHOW
              p
                | To each line need to view realtime output data, go this report to see daily output vs target.
              p
                a.btn(href='lineshow') View details »
           .row-fluid
             .span4
               h2 LINE REPORT ISSUE
               p
                | To quick report issue, use this input form
               p
               a.btn(href='issue') View details »
               
        
      hr
      footer
        
        p © DATALOGIC 2017
