
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title DATALOGIC VIETNAM
  // Bootstrap Core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  // Custom Fonts
  link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
  // Custom CSS
  link(href='css/stylish-portfolio.css', rel='stylesheet')
// Navigation
a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
  i.fa.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
      i.fa.fa-times
    li.sidebar-brand
      a.js-scroll-trigger(href='#top') Start Bootstrap
    li
      a.js-scroll-trigger(href='#top') Home
    li
      a.js-scroll-trigger(href='#about') About
    li
      a.js-scroll-trigger(href='#services') Services
    li
      a.js-scroll-trigger(href='#portfolio') Portfolio
    li
      a.js-scroll-trigger(href='#contact', onclick='$(') Contact
// Header
header#top.header
  .text-vertical-center
    h1  WELCOME TO DATALOGIC VIETNAM !
    h3 
    br
    a.btn.btn-dark.btn-lg.js-scroll-trigger(href='#about') Find Out More
// About
section#about.about
  .container.text-center
    h2 Stylish Portfolio is the perfect theme for your next project!
    p.lead
      a(target='_blank', href='http://join.deathtothestockphoto.com/') Death to the Stock Photo
  // /.container
// Services
section#services.services.bg-primary.text-white
  .container
    .row.text-center
      .col-lg-10.mx-auto
        h2 Our Services
        hr.small
        .row
          .col-md-3.col-sm-6
            .service-item
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-cloud.fa-stack-1x.text-primary
              h4
                strong Service Name
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              a.btn.btn-light(href='#') Learn More
          .col-md-3.col-sm-6
            .service-item
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-compass.fa-stack-1x.text-primary
              h4
                strong Service Name
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              a.btn.btn-light(href='#') Learn More
          .col-md-3.col-sm-6
            .service-item
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-flask.fa-stack-1x.text-primary
              h4
                strong Service Name
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              a.btn.btn-light(href='#') Learn More
          .col-md-3.col-sm-6
            .service-item
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-shield.fa-stack-1x.text-primary
              h4
                strong Service Name
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              a.btn.btn-light(href='#') Learn More
        // /.row (nested)
      // /.col-lg-10
    // /.row
  // /.container
// Callout
aside.callout
  .text-vertical-center
    h1 Vertically Centered Text
// Portfolio
section#portfolio.portfolio
  .container
    .row
      .col-lg-10.mx-auto.text-center
        h2 Our Work
        hr.small
        .row
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-fluid(src='img/portfolio-1.jpg')
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-fluid(src='img/portfolio-2.jpg')
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-fluid(src='img/portfolio-3.jpg')
          .col-md-6
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-fluid(src='img/portfolio-4.jpg')
        // /.row (nested)
        a.btn.btn-dark(href='#') View More Items
      // /.col-lg-10
    // /.row
  // /.container
// Call to Action
aside.call-to-action.bg-primary.text-white
  .container.text-center
    h3 The buttons below are impossible to resist.
    a.btn.btn-lg.btn-light(href='#') Click Me!
    a.btn.btn-lg.btn-dark(href='#') Look at Me!
// Map
section#contact.map
  iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d44332.80919229515!2d106.77771974735896!3d10.849237558099306!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752737bbe25f8f%3A0x4774da28e4e64421!2sDATALOGIC!5e0!3m2!1svi!2s!4v1505130235362')
  br
  small
    //- a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
    a(href="https://goo.gl/maps/HKmF3quZFxK2")
    
    href
// Footer
footer
  .container
    .row
      .col-lg-10.mx-auto.text-center
        h4
          strong Start Bootstrap
        p
          br
        ul.list-unstyled
          li
            i.fa.fa-phone.fa-fw
          li
            i.fa.fa-envelope-o.fa-fw
            a(href='mailto:name@example.com') name@example.com
        br
        ul.list-inline
          li.list-inline-item
            a(href='#')
              i.fa.fa-facebook.fa-fw.fa-3x
          li.list-inline-item
            a(href='#')
              i.fa.fa-twitter.fa-fw.fa-3x
          li.list-inline-item
            a(href='#')
              i.fa.fa-dribbble.fa-fw.fa-3x
        hr.small
        p.text-muted Copyright &copy; Your Website 2017
  a#to-top.btn.btn-dark.btn-lg.js-scroll-trigger(href='#top')
    i.fa.fa-chevron-up.fa-fw.fa-1x
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/popper/popper.min.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for this template
script(src='js/stylish-portfolio.js')