doctype html
html
 head
  title Khang Learn Jade
  script(type='text/javascript', language='javascript', src='//code.jquery.com/jquery-1.12.4.js')
 body
  h1 Test function
  input(type="text", placeholder ="nhap thong tin")
  script(type="text/javascript", src="/js/script.js")
  
  script.
    alert (data.name);
   alert(url);
   var newserial = logSerial();
   newserial.setInfo(1,2,3,4);
   newserial.log();
   $('#1').click(function(){
      alert ("go");
       
       });
  
 button#1(type="submit", ) nhan
 
 h1 test here
 h2 go then to
 a(href="google.com") link      
 p `day la 
   |phan data
   |can thiet `


  - var droids = ["R2D2", "C3PO", "BB8"];
div
 h1 Famous Droids from Star Wars
 for name in droids
  div.card
   h2= name


    
