doctype html
html
 head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title DataTables example - Zero configuration
    link(rel='shortcut icon', type='image/png', href='/media/images/favicon.png')
    //link(rel='alternate', type='application/rss+xml', title='RSS 2.0', href='http://www.datatables.net/rss.xml')
    link(href='/css/bootstrap.css', rel='stylesheet')
    //link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css')//ok
    link(rel='stylesheet', type='text/css', href='/css/jquery.dataTables.min.css')
    style(type='text/css')
      body {
      padding-top: 40px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    script(type='text/javascript', language='javascript', src='/js/jquery-1.12.4.min.js')
    //script(type='text/javascript', language='javascript', src='//code.jquery.com/jquery-1.12.4.js')//ok
    //script(type='text/javascript', language='javascript', src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')//OK
    script(type='text/javascript', language='javascript', src='/js/jquery.dataTables.js')
    //script(type='text/javascript', language='javascript', src='/js/jquery.dataTables.min.js')
    //script(type="text/javascript", src="http://d3js.org/d3.v3.min.js") //ok
    script(type="text/javascript", src="/js/d3.v4.min.js") 
    
    link(rel='stylesheet', type='text/css', media='screen', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(href='/css/prettify-1.0.css', rel='stylesheet')
    link(href='/css/base.css', rel='stylesheet')
    link(href='/css/bootstrap-datetimepicker.css', rel='stylesheet')
    script(type="text/javascript", src="/js/moment-with-locales.js")
    script(type="text/javascript", src="/js/bootstrap-datetimepicker.js")
    
    
    //- //DO FOR BUTTON Download
    //- script(type="text/javascript", src="/js/dataTables.buttons.min.js") 
    //- script(type="text/javascript", src="/js/jszip.min.js") 
    //- script(type="text/javascript", src="/js/pdfmake.min.js") 
    //- script(type="text/javascript", src="/js/vfs_fonts.js") 
    //- script(type="text/javascript", src="/js/buttons.html5.min.js") 
    //DO RESIZE W
    script(type="text/javascript", src="/js/dataTables.pageResize.min.js") 
    
    
     
    script(type='text/javascript', language='javascript', src='/js/url2id.js')
    //- script.init(type='text/javascript').
    script.
      $(document).ready(function() {
         //$('.datetimepicker').datetimepicker();
          refresh();

      } );
      
       
      function refresh() {
      
       buildHtmlTableD3(`http://vnmacsrpt2:5000/sql/vnmsrv601/
      exec [FinalAssy]..[amevn_PAtrack]
      `,'#testd3');
      
      
      
     
      }
      
      function serialtrack() {
         let serial  = $('#sn').val();
         alert (serial);
         var q =`http://vnmacsrpt2:5000/sql/vnmsrv601/exec [FinalAssy]..amevn_PATrackSerial '${serial}'
         `;
        console.log(q);
               buildHtmlTableD3(q,'#serialtrack');
      
     
      }
      
      function getbyDemand() {
         let start  = $('#datetimepicker1').val().replace(/[/]/g,'-');
         let end  = $('#datetimepicker2').val().replace(/[/]/g,'-');
         //alert (start);
         
         let table = buildHtmlTableD3(`http://vnmacsrpt2:5000/sql/vnmsrv601/exec [FinalAssy]..[amevn_PAtrack] '${start}','${end}' `,'#testd3');
         
     
      }
      
   
      
     
      
      
      
  body.wide.comments.example
   .navbar.navbar-inverse.navbar-fixed-top
           .navbar-inner
             .container-fluid
               a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                 span.icon-bar
                 span.icon-bar
                 span.icon-bar
               a.brand(href='') POST ASSY
               .nav-collapse.collapse
                 //p.navbar-text.pull-right
                 //  | Logged in as
                 //  a.navbar-link(href='#') Username
                 ul.nav
                   li.active
                     a(href='/') HOME
                   li
                     a(href='show') SHOW
                   li
                     a(href='lineshow') LINE
   .container-fluid
     .row-fluid
        h2 TRACKING
     .row-fluid
       .span12
         input#sn(type="text", placeholder="serial")
         button.btn.btn-primary(type="submit",onclick ="serialtrack();") Track OperatorCode by Serial
         
     .row-fluid
       .span12
         table#serialtrack.display(cellspacing='0', width='100%')
     .row-fluid
       .span12
        .col-sm-3
           input#datetimepicker1.form-control(type='text', placeholder="From")
        .col-sm-3
           input#datetimepicker2.form-control(type='text', placeholder="To")
        .col-sm-4
           button.btn.btn-primary(type="submit", onclick="getbyDemand();") Pull Output by Demand
       script(type='text/javascript').
        $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
        
        });
        
      .row-fluid
        .span12
          table#testd3.display(cellspacing='0', width='100%')
          table#testd4.display(cellspacing='0', width='100%')
     
    
     
  
   
