html
  head
   meta(charset='utf-8')
   title SMT OUTPUT
   meta(name='viewport', content='width=device-width, initial-scale=1.0')
   meta(name='description', content='')
   meta(name='author', content='')
   link(href='/css/bootstrap.css', rel='stylesheet')
   style(type='text/css')
     body {
     padding-top: 60px;
     padding-bottom: 40px;
     }
     .sidebar-nav {
     padding: 9px 0;
     }
    //
      <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  script(type='text/javascript', charset='utf8', src='js/jquery-1.12.4.min.js')
  // Datatables
  script(type='text/javascript', charset='utf8', src='js/jquery.dataTables.js')
  script(type='text/javascript', src='js/dataTables.buttons.min.js')
  script(type='text/javascript', src='js/buttons.flash.min.js')
  script(type='text/javascript', src='js/jszip.min.js')
  script(type='text/javascript', src='js/pdfmake.min.js')
  script(type='text/javascript', src='js/vfs_fonts.js')
  script(type='text/javascript', src='js/buttons.html5.min.js')
  script(type='text/javascript', src='js/buttons.print.min.js')
  // external libs from cdnjs
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/jquery-ui.min.js')
  // PivotTable.js libs from cdnjs
  script(type='text/javascript', src='/js/pivot.min.js')
  link(rel='stylesheet', type='text/css', href='/css/pivot.min.css')
  //
    PivotTable.js libs from ../dist
    <link rel="stylesheet" type="text/css" href="http://nicolas.kruchten.com/pivottable/dist/pivot.css">
    <script type="text/javascript" src="http://nicolas.kruchten.com/pivottable/dist/pivot.js"></script>
  // subtotal.js libs from ../dist
  script(type='text/javascript', src='js/subtotal.js')
  link(rel='stylesheet', type='text/css', href='css/subtotal.css')
  // optional: mobile support with jqueryui-touch-punch
  script(type='text/javascript', src='js/jquery.ui.touch-punch.min.js')
  // DynaTable
  script(type='text/javascript', src='js/highcharts.js')
  //
  
  script(type='text/javascript', src='js/jquery.dynatable.js')
  // Khang Scripts
  script(src='js/d3-collection.v1.min.js')
  script(src='js/d3-dispatch.v1.min.js')
  script(src='js/d3-dsv.v1.min.js')
  script(src='js/d3-request.v1.min.js')
  script(src='/js/d3.v4.min.js', charset='utf8')
  // external libs from cdnjs
  link(rel='stylesheet', type='text/css', href='css/c3.min.css')
  script(type='text/javascript', src='js/papaparse.min.js')
  script(type='text/javascript', src='js/d3.min.js')
  script(type='text/javascript', src='js/c3.min.js')
  // PivotTable.js libs from ../dist
  script(type='text/javascript', src='js/c3_renderers.js')
  script(type='text/javascript', src='js/export_renderers.js')
  style.
    body {
    font-family: Verdana;
    }
    .c3-line, .c3-focused {
    stroke-width: 3px !important;
    }
    .c3-bar {
    stroke: white !important;
    stroke-width: 1;
    }
    .c3 text {
    font-size: 12px;
    color: grey;
    }
    .tick line {
    stroke: white;
    }
    .c3-axis path {
    stroke: grey;
    }
    .c3-circle {
    opacity: 1 !important;
    }
    .c3-xgrid-focus {
    visibility: hidden !important;
    }
body(onload="calldata();")
 //top menu
 .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner
            .container-fluid
              a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='') SMT OUTPUT MONITORING
              .nav-collapse.collapse
                //p.navbar-text.pull-right
                //  | Logged in as
                //  a.navbar-link(href='#') Username
                ul.nav
                  li.active
                    a(href='/') HOME
                  li
                    a(href='show') SHOW
                  li
                    a(href='lineshow') LINE
 //top menu
//- script(type='text/javascript', charset='utf8', src='js/dlscript.js')
//- script(type='text/javascript', charset='utf8', src='js/dlconfig.js')
h3
  //| HOURLY OUTPUT
//- select#ddlViewBy(onmousedown="this.value='';", onchange='jsFunction(this.value);')
//-   option(value='1') Output Hourly
//-   option(value='2') Change Over Time
//-   option(value='3') Using History
//-   option(value='4') JAS Capacity
//-   option(value='5') Output Hourly subtotal
//-   option(value='7') Yield Today
//-   option(value='8') Yield Serial
//- p SELECT SERVER
//- select#server
//-  option(value="vnmltme-vkhang") vnmltme-vkhang
//-  option(value="vnmacsdb") vnmacsdb
//-  option(value="vnmacsrpt2") vnmacsrpt2
//-  option(value="smta") SMTA
//- P THEN WRITE QUERY
//- input#query(type="text", placeholder="SELECT * FROM [DB].DBO.TESTDAT")
 
//- button#view.btn.btn-primary View Data
//- :markdown
//-    **B**
#output
//- #outputdetail  
table#tableDiv.display(width='100%', cellspacing='0')  
#d3tb  
script.
  $('#view').click(function(){
  alert('call data now');
  calldata();
  });
  //- $('#view').click(function(event) {
  //-  /* Act on the event */
  //-  alert('go1');
  //-  
  //- });

  // refresh each n min
  var ntime = 10;
  var time = new Date().getTime();
  $(document.body).bind("mousemove keypress", function (e) {
  time = new Date().getTime();
  });
  function refresh() {
  if (new Date().getTime() - time >= 60000)
  window.location.reload(true);
  else
  setTimeout(refresh, 10000*ntime);
  }
  
  function calldata() {
   
  
  var dateFormat = $.pivotUtilities.derivers.dateFormat;
  var sortAs = $.pivotUtilities.sortAs;
  var tpl = $.pivotUtilities.aggregatorTemplates;
  let server = $("#server").val();
  let query = $("#query").val();
  //alert (server);
  let  url =`sql/smta/exec [SiplaceOIS]..HourlyOutputMonitoring`;
   //alert (url);
    $.getJSON(url, function (mps) {
    
    //alert (JSON.stringify(mps));
     $("#output").pivotUI(mps, {
      cols: [ "TimeHour"],
      rows: ["TimeDate","strBoard", "BoardTarget", "ActualQty"],
      vals: ["Variant"],
      aggregatorName: "Integer Sum",
      rendererName: "Table"
     });
    });
   }

  //setTimeout(refresh, 10000*ntime);
