!!!5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title DATALOGIC VIETNAM-PMS
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    //- link(href='/css/jumbotron.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.js")  
     //
       [ FONT-AWESOME ICON ]
       =========================================================================================================================
    //link(rel='stylesheet', type='text/css', href='library/font-awesome-4.3.0/css/font-awesome.min.css')
    //-  //
    //-    [ PLUGIN STYLESHEET ]
    //-    =========================================================================================================================
    //- link(rel='shortcut icon', type='image/x-icon', href='images/icon.png')
    //- link(rel='stylesheet', type='text/css', href='/css1/animate.css')
    //- link(rel='stylesheet', type='text/css', href='/css1/magnific-popup.css')
    //- link(rel='stylesheet', type='text/css', href='library/vegas/vegas.min.css')
    //-  //
    //-    [ Boot STYLESHEET ]
    //-    =========================================================================================================================
    //- link(rel='stylesheet', type='text/css', href='library/bootstrap/css/bootstrap-theme.min.css')
    //- link(rel='stylesheet', type='text/css', href='library/bootstrap/css/bootstrap.css')
    //-  //
    //-    [ DEFAULT STYLESHEET ]
    //-    =========================================================================================================================
    //- link(rel='stylesheet', type='text/css', href='/css1/style.css')
    //- link(rel='stylesheet', type='text/css', href='/css1/responsive.css')
    //- link(rel='stylesheet', type='text/css', href='/css1/color/green.css') 
    
body
    :markdown
        **test**


    <svg width="848" height="520" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0,10)"><g><path class="link" d="M5,100C143,100 143,80 281,80" style="stroke-width: 150; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>2</title></path><path class="link" d="M286,80C424,80 424,100 562,100" style="stroke-width: 150; fill: none; stroke: rgb(191, 191, 105); stroke-opacity: 0.4;"><title>2</title></path><path class="link" d="M5,287.5C143,287.5 143,287.5 281,287.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M5,362.5C143,362.5 143,372.5 281,372.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M5,437.5C143,437.5 143,457.5 281,457.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M567,437.5C705,437.5 705,462.5 843,462.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M286,202.5C424,202.5 424,212.5 562,212.5" style="stroke-width: 75; fill: none; stroke: rgb(105, 191, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M286,287.5C424,287.5 424,287.5 562,287.5" style="stroke-width: 75; fill: none; stroke: rgb(105, 191, 191); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M5,212.5C143,212.5 143,202.5 281,202.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M286,457.5C424,457.5 424,437.5 562,437.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 191); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M567,62.5C705,62.5 705,37.5 843,37.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M567,137.5C705,137.5 705,122.5 843,122.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M567,212.5C705,212.5 705,207.5 843,207.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M567,287.5C705,287.5 705,292.5 843,292.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M567,362.5C705,362.5 705,377.5 843,377.5" style="stroke-width: 75; fill: none; stroke: rgb(191, 105, 105); stroke-opacity: 0.4;"><title>1</title></path><path class="link" d="M286,372.5C424,372.5 424,362.5 562,362.5" style="stroke-width: 75; fill: none; stroke: rgb(105, 105, 191); stroke-opacity: 0.4;"><title>1</title></path></g><g><g class="node" transform="translate(562,25)"><rect height="450" width="5"><title>610087703
6</title></rect><text x="-6" y="225" dy=".35em" text-anchor="end" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">610087703</text></g><g class="node" transform="translate(0,25)"><rect height="450" width="5"><title>610087703
6</title></rect><text x="11" y="225" dy=".35em" text-anchor="start" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">610087703</text></g><g class="node" transform="translate(843,0)"><rect height="75" width="5" style="fill: rgb(102, 102, 102);"><title>GD4410-BK
1</title></rect><text x="-6" y="37.5" dy=".35em" text-anchor="end" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">GD4410-BK</text></g><g class="node" transform="translate(843,85)"><rect height="75" width="5" style="fill: rgb(102, 102, 102);"><title>GD4410-HCK10-BPOC
1</title></rect><text x="-6" y="37.5" dy=".35em" text-anchor="end" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">GD4410-HCK10-BPOC</text></g><g class="node" transform="translate(843,170)"><rect height="75" width="5" style="fill: rgb(102, 102, 102);"><title>GD4430-BK
1</title></rect><text x="-6" y="37.5" dy=".35em" text-anchor="end" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">GD4430-BK</text></g><g class="node" transform="translate(843,255)"><rect height="75" width="5" style="fill: rgb(102, 102, 102);"><title>GD4430-BK-HD
1</title></rect><text x="-6" y="37.5" dy=".35em" text-anchor="end" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">GD4430-BK-HD</text></g><g class="node" transform="translate(843,340)"><rect height="75" width="5" style="fill: rgb(102, 102, 102);"><title>GD4430-BKK1
1</title></rect><text x="-6" y="37.5" dy=".35em" text-anchor="end" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">GD4430-BKK1</text></g><g class="node" transform="translate(843,425)"><rect height="75" width="5" style="fill: rgb(102, 102, 102);"><title>GD4430-WH
1</title></rect><text x="-6" y="37.5" dy=".35em" text-anchor="end" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">GD4430-WH</text></g><g class="node" transform="translate(281,5)"><rect height="150" width="5"><title>740048501
2</title></rect><text x="11" y="75" dy=".35em" text-anchor="start" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">740048501</text></g><g class="node" transform="translate(281,165)"><rect height="75" width="5"><title>740048601
1</title></rect><text x="11" y="37.5" dy=".35em" text-anchor="start" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">740048601</text></g><g class="node" transform="translate(281,250)"><rect height="75" width="5"><title>740048701
1</title></rect><text x="11" y="37.5" dy=".35em" text-anchor="start" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">740048701</text></g><g class="node" transform="translate(281,335)"><rect height="75" width="5"><title>740048801
1</title></rect><text x="11" y="37.5" dy=".35em" text-anchor="start" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">740048801</text></g><g class="node" transform="translate(281,420)"><rect height="75" width="5"><title>740049800
1</title></rect><text x="11" y="37.5" dy=".35em" text-anchor="start" style="font-size: 11px; font-family: Arial, Helvetica; pointer-events: none;">740049800</text></g></g></g></svg>    
      hr
      footer
        
        p © DATALOGIC 2017
