
doctype html
head
  title WOWSlider
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  meta(name='keywords', content='WOWSlider')
  meta(name='description', content='WOWSlider')
  // Start WOWSlider.com HEAD section
  link(rel='stylesheet', type='text/css', href='/styles/style.css')
  script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.2.min.js')
body
  //- #wowslider-container
  //-         .ws_images
  //-           ul
  //-             li
  //-               a(href='')
  //-                 img#wows_0(src='/img/boat.jpg', alt='hihi', title='Khang1')
  //-             li
  //-               a(href='')
  //-                 img#wows_1(src='/img/alice.jpg', alt='xxxYou can add description to slides!', title='You can add description to slides!')
  //-             li
  //-               a(href='')
  //-                 img#wows_2(src='/img/coast.jpg', alt='', title='')
  //-         .ws_shadow
  //-         script(type='text/javascript', src='/js/wowslider.js')
  //-         script(type='text/javascript', src='/js/script_wow.js')
  //-       // End WOWSlider.com BODY section

              
  div
  // Start WOWSlider.com BODY section
  link(rel='stylesheet', type='text/css', href='http://wowslider.com/sliders/demo-79/engine1/style.css')
  #wowslider-container1
    .ws_images
      ul
        li
          img#wows1_0(src='http://wowslider.com/sliders/demo-79/data1/images/dandelion445228_1280.jpg', alt='Dandelion : full screen slider website ', title='Dandelion')
        li
          img#wows1_1(src='http://wowslider.com/sliders/demo-79/data1/images/rose456561_1280.jpg', alt='Rose : slider full screen ', title='Rose')
        li
          img#wows1_2(src='http://wowslider.com/sliders/demo-79/data1/images/flowers19830_1280.jpg', alt='Flower and Butterfly : free full screen slider ', title='Flower and Butterfly')
    .ws_bullets
      div
        a(href='#', title='Dandelion')
          img(src='http://wowslider.com/sliders/demo-79/data1/tooltips/dandelion445228_1280.jpg', alt='Dandelion')
        a(href='#', title='Rose')
          img(src='http://wowslider.com/sliders/demo-79/data1/tooltips/rose456561_1280.jpg', alt='Rose')
        a(href='#', title='Flower and Butterfly')
          img(src='http://wowslider.com/sliders/demo-79/data1/tooltips/flowers19830_1280.jpg', alt='Flower and Butterfly')
    .ws_shadow
  script(type='text/javascript', src='/js/wowslider.js')
  script(type='text/javascript', src='/js/script_wow.js')
  // End WOWSlider.com BODY section